body {
  font-family: "Federo", "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(43, 29, 29, 1);
  background-color: rgba(205, 238, 162, 1); /* #C9DF8A? */
}

/* The Swing Spring logo */
.logo {
  max-width: 600px;
}

.navbar-brand {
  font-size: 14px;
}

article {
  padding-top: 51px;
  font-size: 21px;
  line-height: 135%;
}

article header .container {
  max-width: 600px;
}

article header {
  background: white;
  padding: 15px 0;
}

article header h1 {
  display: none;
}

article h2 {
  margin-top: -60px;
  padding-top: 80px;
}