body {
  font-family: "Federo", "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  color: #2b1d1d;
}

.navbar-brand {
  font-size: 14px;
}

nav .container {
  max-width: 720px;
}

header {
  background: white;
  padding: 90px 0 40px;
}

header .logo {
  max-width: 600px;
  margin: 0 auto;
}

header .logo img {
  width: 100%;
}

header h1 {
  display: none;
  font-size: 64px;
  color: #373a3f;
  letter-spacing: 1px;
  font-family: "Cherry Swash", "Georgia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

article {
  background-color: #cdeea2;
  font-size: 21px;
  line-height: 135%;
  padding-bottom: 50px;
}

article h2 {
  margin-top: -50px;
  padding-top: 90px;
}

.container-fluid {
  max-width: 600px;
}
